{% extends "layout.html" %}

{% block body %}

    <h2>Schedule an office hour appointment</h2>
    <form action="/signup" method="post">
        <input name="name" placeholder="Name" required type="text">
        <select name="date" id="date" required>
            {% for date in dates %}
            <option value="{{ date[0] }}">{{ date[0] }}</option>
            {% endfor %}
        </select>
        <select name="time" id="time" required>
            {% for time in earliest_date_times %} 
                <option value="{{ time[0] }}">{{ time[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Sign up</button>
    </form>

    <h2><a href="/upcoming">View upcoming scheduled appointments</a></h2>

    <script>
        const d = document.querySelector("#date");
        d.addEventListener("change", async function() {
            let response = await fetch("/times?date=" + d.options[d.selectedIndex].value);
            let times = await response.text();
            document.querySelector("#time").innerHTML = times;
        });
    </script>

{% endblock %}