body {
    background-color: rgb(215, 220, 255);
    color: rgb(80, 0, 128);
    text-align: center;
}

h1 {
    color: rgb(20, 0, 90);
}

input, select, button {
    background-color: white;
    color: rgb(80, 0, 128);
}