body {
    background-color: rgb(215, 220, 255);
    color: rgb(80, 0, 128);
    text-align: center;
}

a:link, a:visited {
    color: rgb(70, 70, 150);
}

a:hover, a:active {
    color: rgb(80, 0, 128);
}

a.page-title {
    color: rgb(20, 0, 90);
    text-decoration: none;
}

input, select, button {
    background-color: white;
    color: rgb(80, 0, 128);
}